/* Start Global */
*, *:before, *:after {
    padding: 0px;
    margin: 0px;
    outline: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    @media (max-width: 720px) {
    font-size: 87.5%; /*14px*/
    }

    @media (max-width: 1080px) {
    font-size: 93.75%; /*15px*/
    }
}

body {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    font-family: 'Antonio', sans-serif;
}
/* End Global */

/* Start Header*/
#header-nav {
    position: fixed;
    background-color:#fff;
    width: 100%;
    height: 100px;
}

#navigation {
    position: absolute;
    display: inline;
    margin: 50px 50px 40px 800px;
}

#navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation ul li{
    float: left;
    margin-left: 15px;
}

#navigation ul li a{
    color: rgb(2, 2, 2);
    font-weight: bold;
}

#navigation ul li a:hover{
    color: rgb(59, 59, 59);
    border-bottom: solid 2px rgb(59, 59, 59);
    padding-bottom: 5px;
}
/* End Header*/

/* Start Presentatio*/

.h1 {
    text-align: center;
    padding-top: 3rem ;
}

.capa {
    width: 100%;
    height: 700px;
    margin-top: 100px;
}

.icon-solutions {
    width: 80px;
    margin: 2rem;
    display: inline;
    position: flex;
    margin-left: 580px;
}

.text-solutions {
    display: block;
    margin: 0px 25px 0 25px;
}

.header-solutions {
    display: inline;
    position: absolute;
    margin: 50px 25px 0 0;
}

#presentation {
    text-justify:inherit;
    width: 80%;
    margin: 0px auto;
    font-size: 1.5rem;
}

#end {
    padding-bottom: 2.5rem;
}

#solutions {
    background-color: rgb(213, 252, 174);
}
/* End Presentatio*/

/* Start Contact-us*/
#form {
    text-align: center;
    margin-top: 2rem;
}

#form input {
    width: 40%;
    height: 40px;
    margin: 10px;
    font-size: 1.3rem;
    font-family: 'Antonio', sans-serif;
}

#form textarea {
    width: 40%;
    margin: 10px;
    font-size: 1.3rem;
    font-family: 'Antonio', sans-serif;
}

#form button {
    width: 40%;
    height: 40px;
    margin: 10px;
    font-family: 'Antonio', sans-serif;
    font-size: 1.4rem;
}
/* End Contact-us*/

/* Start Footer*/


#footer {
    background-color: rgb(214, 214, 214);
    width: 100%;
    height: 120px;
}

.social-media-icons {
    width: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    float: left;
    margin: 0px auto;
}

.social-media {
    display: inline;
}

h3 {
    text-align: center;
}
/* End Footer*/